body{
  background-color: purple;
}

h1{
  margin-top: 50px;
  font-size: 80px;
  text-align: center;
  font-family: Helvetica;
  color: white;
  font-style: oblique;
}

p{
  font-size: 16px;
  text-align: center;
  font-family: Helvetica;
  color: white;
}

a{
  color: black;
  text-decoration: none;
  background-color: white;
  font-family: Helvetica;
  font-size: 16px;
}

ul{
  list-style: none;
  text-align: center;
}
