html {
  font-family: "noto sans jp";
  background-color: #1b2525;
}

img{
  max-width: inherit;
}

h1{
  font-size: 15px;
  color: yellow;
  filter: blur(6px);
  text-align: center;
  margin-top: 25%;
}

h2{
  font-size: 90px;
  color: yellow;
  filter: blur(10px);
  text-align: center;
  margin-top: 3000px;
}

h3{
  font-size: 30px;
  color: #0058A3;
  filter: blur(3px);
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}

p{
  font-size: 20px;
  color: #0058A3;
  filter: blur(3px);
  list-style: none;
  margin-left: 25%;
  margin-right: 25%;
  text-align: justify;
}

li{
  font-size: 20px;
  color: #0058A3;
  filter: blur(3px);
  list-style: none;
  text-align: justify;
  margin-left: 25%;
  margin-right: 25%;
}

a{
  text-decoration: none;
  color: #0058A3;
}

p:hover{
  filter: blur(0px);
}

li:hover{
  filter: blur(0px);
}

a:hover{
  filter: blur(0px);
}

h1:hover{
  filter: blur(0px);
}

h2:hover{
  filter: blur(2px);
}

h3:hover{
  filter: blur(1px);
}
