html {
  font-family: "noto sans jp";
  background-color: #1b2525;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 820px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 150px;
}

h1 {
  color: yellow;
  text-align: left;
  filter: blur(3px);
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
}

h2 {
  font-size: 90px;
  color: yellow;
  filter: blur(10px);
  text-align: center;
}

h3 {
  font-size: 30px;
  color: #0058A3;
  filter: blur(3px);
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}

.image-descriptions {
  margin-bottom: 60px;
  margin-left: 25%;
  margin-right: 25%;
  width: 820px;
}

.b {
  color: yellow;
}

p {
  font-size: 20px;
  color: #0058A3;
  filter: blur(3px);
  list-style: none;
  margin-left: 25%;
  margin-right: 25%;
  text-align: justify;
}

li {
  font-size: 20px;
  color: #0058A3;
  filter: blur(3px);
  list-style: none;
  text-align: justify;
  margin-left: 25%;
  margin-right: 25%;
}

a {
  text-decoration: none;
  color: #0058A3;
}

p:hover {
  filter: blur(0px);
}

li:hover {
  filter: blur(0px);
}

a:hover {
  filter: blur(0px);
}

h1:hover {
  filter: blur(0px);
}

h2:hover {
  filter: blur(2px);
}

h3:hover {
  filter: blur(1px);
}

.image-page {
  animation: fadeinanimation ease 6s;
}

body {
  animation: fadeinanimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeinanimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sidenav {
  height: auto;
  width: 200px;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 20px;
}

.sidenav a {
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #0058A3;
  display: block;
}

.sidenav a:hover{
  color: yellow;
}
