html{
  background-color: white;
  font-family: futura;
}

h1{
  font-size: 100px;
  color: black;
}

h2{
  font-size: 60px;
  color: black;
}

p{
  font-size: 40px;
  color: red;

}

li{
    font-size: 40px;
    color: black;
    animation:
}
