body {
  background: rgb(230, 216, 235);
}

.object {
  background: rgb(36, 141, 142);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: fixed;
  top: 300px;
  left: 40%;
  transition: background 2s, border-radius 2s, transform 2s;
}

.object:hover {
  background: rgb(219, 130, 130);
  transform: scale(1.3);
  border-radius: 0;
  cursor: pointer;
}

.secret-btn {
  padding: 30px;
  display: inline-block;
}

.secret-btn:hover {
  background: rgb(72, 73, 162);
  color: rgb(255, 255, 255);
}

.secret {
  width: 150px;
  position: fixed;
  bottom: 10px;
  left: 40px;
  opacity: 0;
}

.secret-btn + .secret {
  opacity: 1;
}

.secret-word {
  background: rgb(179, 46, 168);
  cursor: cell;
}

.secret2 {
  width: 150px;
  position: fixed;
  bottom: 10px;
  left: 40px;
  opacity: 0;
}

.secret-word:hover .secret2 {
  opacity: 1;
}
